<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
</head>

<body>

    <div class="sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}">
            {{ item.name }}
        </a>
        {% endfor %}

        <div class="category-topic">Topics/
            {% assign sortedCategories = site.categories | sort %}
            <ul>
                {% for category in sortedCategories %}
                {% assign cat4url = category[0] | remove:' ' | downcase %}
                <li>
                    <a class="sidebar-nav-item" href="{{site.baseurl}}/category/{{cat4url}}">
                        {{category[0]}}
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <header>
        <span style="font-size:45px;cursor:pointer" onclick="openNav()">&#9776</span>
        <!--div class="container">
            <section id="navigation">
                {% include navigation.html %}
            </section>
        </div-->
        <div class="container">
            <a id="a-title" href="{{ '/' | relative_url }}">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>

            <section id="downloads">
                {% if site.show_downloads %}
                <h2>Worked!!!</h2>
                <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
                {% endif %}
                <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on
                    GitHub</a>
            </section>

        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>

</html>